# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
aiohttp
redis
openai
circuitbreaker
tabulate
tenacity
fastapi==0.100.0
uvicorn==0.22.0
pydantic==1.10.13
aiofiles
azure-identity
azure-keyvault-secrets
msgraph-sdk
tiktoken
fastapi